

input {
  background-color: #FF3399;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 16px;
  margin-right: 12px;
  padding: 10px;
}

h1 {
  font-size: 40px;
  color: #FF3399;
}
/* change the img position style so that it actually moves*/ 
img {
  position:relative;
}
